===============================================================================
MetaTweet: Hub System For Micro-blog Communication Services
===============================================================================

1. Installation
---------------
MetaTweet Server program is sbin/MetaTweetHostService.exe .
This program is able to run as an ordinary executable program, but you can
register this program as a Windows service.
To install Windows service, run share/util/install-service.bat .
And, to uninstall Windows service, run share/util/uninstall-service.bat .

IMPORTANT: MetaTweet uses SQLite database engine, and currently, you have to
also install System.Data.SQLite library <http://sqlite.phxsoftware.com/> into
your system.

2. Configuration
----------------
Configuration files are in etc/ directory. Currently, to work the system
completely, you have to configure some configurations by your hand:
    * modules.d/HttpServant-http.conf.xml
        You can specify addresses to listen requests in "prefixes". In default,
        the service is not served for external network.
    * modules.d/TwitterApiOutput-twitter.conf.xml
        Specify Twitter user screen name to be criterion of output in
        "userName".
    * modules.d/LocalServant-local.conf.xml
        ADVANCED: You can set intervals to fetch data in "timerJobs". Specify
        pair values: "Item1" is interval (unit: msec) or negative value (run
        in initialize time), "Item2" is Request String to be run.
    * modules.d/TwitterApiInput-twitter.conf.xml
        If you need to use proxy server, you can specify the its address and
        credential information.

3. Usage
--------
Server program of MetaTweet (sbin/MetaTweetHostService.exe) can execute
directly. You should enter the PIN code for OAuth authentication of Twitter.
You can access the HTTP service to http://localhost:7780/view/ in default.
Detailed informations is in the top page of the service.
MetaTweet Client programs are in bin/ directory.
(Currently, the client program is newly creating, and documentation is
not exists, or maintained.)
Detailed informations are in official website or in Wiki in project RedMine
page (explains in next section).

4. For More information
-----------------------
You can get more information in:
    * http://www.metatweet.org/
        The official web
    * http://sourceforge.net/projects/metatweet/
        The project page in SourceForge.net
    * http://github.com/takeshik/metatweet/
        The repository page in GitHub
    * http://redmine.xspect.org/projects/metatweet/
        The RedMine project page

5. Author
---------
Takeshi KIRIYA <takeshik@users.sourceforge.net>.
You can get contact with emails, and:
    * SourceForge.net project forums, Trac (ticketting), etc.
    * Twitter (@takeshik, http://twitter.com/takeshik)
      NOTE FOR NON-JAPANESE SPEAKERS: I'm tweeting in Japanese, and
      I will BLOCK non-Japanese speaker follower. Please reply
      ("@takeshik ...") before follow me, to notice to your following.
    * Sending questions, comments, ideas, patches, etc. are welcome.

6. License
----------
See COPYING, NOTICE, and share/COPYING.

All programs which is belonging MetaTweet Project are covered by GNU LGPL
version 3 or later.
And, all document resources which is belonging MetaTweet Project are covered
by CC BY-SA 3.0 Unported License.
Please make sure this package includes libraries which is not part of
MetaTweet project.


Thank you for downloading and reading this!
