<?xml version="1.0" encoding="utf-8"?>
<!-- Default parameters for MetaTweet executable programs

     This file is for override the parameters of MetaTweet programs.
     In this file, <add key="KEY" value="VALUE" /> means
     -KEY=VALUE in command-line parameters.
-->

<configuration>
    <appSettings>
        <!-- Set ApplicationBase:
             Specify the base directory of MetaTweet System.
             Default value: ..
        -->
        <add key="init_base" value=".." />

        <!-- Set PrivateBinPath:
             Spefify the list of the path of the referenced assembly (executables
             and libraries) from init_base separated with ';'.
             First element of the list must be contain MetaTweetServer.dll.
             Default value: lib;sbin
        -->
        <add key="init_probe" value="lib;sbin" />

        <!-- Specify the configuration file for whole the system, includes
             directory path settings. the path of the .config of Server domain
             must be same as the file this entry specifies.
        -->
        <add key="config" value="etc/MetaTweet.conf.xml" />

        <!-- Specify the default culture (e.g. en-US, ja-JP, etc.) of the process.
             Empty string value specifies system default culture.
             String "invaliant" spefifies the Invalid culture.
             Default value: (empty string)
        -->
        <add key="culture" value="" />

        <!-- If set true, attach the debugger when the program started.
             Default value: false
        -->
        <add key="debug" value="false" />
    </appSettings>
</configuration>