<?xml version="1.0" encoding="utf-8"?>
<!-- Default parameters for MetaTweet executable programs

     This file is for override the parameters of MetaTweet programs.
     In this file, <add key="KEY" value="VALUE" /> means
     -KEY=VALUE in command-line parameters.
-->

<configuration>
    <appSettings>
        <!-- Set ApplicationBase:
             Specify the base directory of MetaTweet System.
             Default value: ..
        -->
        <add key="init_base" value=".." />
        
        <!-- Set ConfigurationFile:
             Specify the path of the configuration file (.config) from init_base.
             Default value: etc
        -->
        <add key="init_config" value="etc" />
        
        <!-- Set ConfigurationFile:
             Spefify the list of the path of the referenced assembly (executables
             and libraries) from init_base separated with ';'.
             First element of the list must be contain MetaTweetServer.dll.
             Default value: lib;sbin
        -->
        <add key="init_probe" value="lib;sbin" />
        
        <!-- If set true, attach the debugger when the program started.
             Default value: false
        -->
        <add key="debug" value="false" />
    </appSettings>
</configuration>