#sideMenu
	Index Page
#content
	%h1
		MetaTweet Web Interface
	%p
		Welcome to MetaTweet HttpServant, Web Interface.
	%h2
		How to Use
	%p
		You can query to this server via
		%a{ href = "/view/query/" }
			Querying
		page.
	%p
		And also you can access the address starts with "/!" or /$", like:
	%pre http://address-of-this-server.example.com/!/obj/accounts.xml
	%h2 Copyright
	%p
		Copyright &copy; 2008-2010 Takeshi KIRIYA (aka takeshik) <takeshik@users.sf.net>, All rights reserved.
	%p
		This program comes with ABSOLUTELY NO WARRANTY and this is free software, and you are welcome to
		redistribute it under certain conditions; access 
		%a{ href = "http://www.metatweet.org/copying.html" }
			here
		for details.