#sideMenu
	%h2
		Tabs
	%dl
		%dt
			%a{ id = "addTab", href = "#" }
				Add Tab
		%dd
			Add new empty tab
	%h2
		Stored Requests (
		%a{ href = "javascript:loadStoredRequestList()" }
			Reload
		)
	#storedReqs
#content
	%script{ type = "text/javascript", src = "/scripts/query.js", charset = "utf-8" }
	#dialog{ title = "Create New Tab" }
		%form
			%fieldset{ class = "ui-helper-reset" }
				%label{ for = "tab_name" }
					Name
				%input{ type = "text", name = "tab_name", id = "tab_name", class = "ui-widget-content ui-corner-all" }
	#tabs
		%ul
	%h2{ id = "resultHeader" }
		Result of request shows below.
	#result
