#sideMenu
	%button{ id = "add_tab" }
		Add Tab
	#storedReqs
#content
	%script{ type = "text/javascript", src = "/scripts/query.js", charset = "utf-8" }
	#dialog{ title = "Create New Tab" }
		%form
			%fieldset{ class = "ui-helper-reset" }
				%label{ for = "tab_name" }
					Name
				%input{ type = "text", name = "tab_name", id = "tab_name", class = "ui-widget-content ui-corner-all" }
	#tabs
		%ul
	#result
