<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
               <assemblyIdentity name="GitSharp.Core" publicKeyToken="a2913992a9f39bb8" culture="neutral" />
               <codeBase version="0.3.0.0" href="../lib/GitSharp.Core.dll" />
            </dependentAssembly>
            <dependentAssembly>
               <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
               <codeBase version="0.86.0.518" href="../lib/ICSharpCode.SharpZipLib.dll" />
            </dependentAssembly>
            <dependentAssembly>
               <assemblyIdentity name="System.Reactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
               <codeBase version="1.1.10621.0" href="../lib/System.Reactive.dll" />
            </dependentAssembly>
            <dependentAssembly>
               <assemblyIdentity name="System.Interactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
               <codeBase version="1.1.10621.0" href="../lib/System.Interactive.dll" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>