<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="Trace" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%level] (%thread)%newline%message%newline%newline" />
            </layout>
        </appender>
        <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="EMERGENCY" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="FATAL" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="ALERT" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="CRITICAL" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="SEVERE" />
                <foreColor value="Purple, HighIntensity" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <foreColor value="Purple, HighIntensity" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <foreColor value="Yellow, HighIntensity" />
            </mapping>
            <mapping>
                <level value="NOTICE" />
                <foreColor value="Yellow, HighIntensity" />
            </mapping>
            <mapping>
                <level value="INFO" />
                <foreColor value="White, HighIntensity" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <foreColor value="Green" />
            </mapping>
            <mapping>
                <level value="TRACE" />
                <foreColor value="Green" />
            </mapping>
            <mapping>
                <level value="VERBOSE" />
                <foreColor value="Green" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value=" * %date [%level] (%thread)%newline%message%newline%newline" />
            </layout>
        </appender>
        <appender name="CoreLogFile" type="log4net.Appender.RollingFileAppender">
            <file value="var/log/MetaTweetServer.log" />
            <appendToFile value="true" />
            <maxSizeRollBackups value="14" />
            <staticLogFileName value="true" />
            <countDirection value="-1" />
            <maximumFileSize value="128MB" />
            <rollingStyle value="Composite" />
            <datePattern value=".yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value=" * %date [%level] (%thread)%newline%message%newline%newline" />
            </layout>
        </appender>
        <appender name="ModuleLogFile" type="log4net.Appender.RollingFileAppender">
            <file value="var/log/MetaTweetServer.module.log" />
            <appendToFile value="true" />
            <maxSizeRollBackups value="14" />
            <staticLogFileName value="true" />
            <countDirection value="-1" />
            <maximumFileSize value="128MB" />
            <rollingStyle value="Composite" />
            <datePattern value=".yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value=" * %date [%level] (%thread)%newline%message%newline%newline" />
            </layout>
        </appender>
        <appender name="RequestLogFile" type="log4net.Appender.RollingFileAppender">
            <file value="var/log/MetaTweetServer.request.log" />
            <appendToFile value="true" />
            <maxSizeRollBackups value="14" />
            <staticLogFileName value="true" />
            <countDirection value="-1" />
            <maximumFileSize value="128MB" />
            <rollingStyle value="Composite" />
            <datePattern value=".yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value=" * %date [%level] (%thread)%newline%message%newline%newline" />
            </layout>
        </appender>
        <appender name="AccessLogFile" type="log4net.Appender.RollingFileAppender">
            <file value="var/log/MetaTweetServer.access.log" />
            <appendToFile value="true" />
            <maxSizeRollBackups value="14" />
            <staticLogFileName value="true" />
            <countDirection value="-1" />
            <maximumFileSize value="128MB" />
            <rollingStyle value="Composite" />
            <datePattern value=".yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline" />
            </layout>
        </appender>
        
        <root>
            <level value="INFO" />
            <appender-ref ref="Trace" />
            <appender-ref ref="Console" />
        </root>
        <logger name="core">
            <level value="INFO" />
            <appender-ref ref="CoreLogFile" />
        </logger>
        <logger name="module" additivity="true">
            <level value="INFO" />
            <appender-ref ref="ModuleLogFile" />
        </logger>
        <logger name="request" additivity="true">
            <level value="INFO" />
            <appender-ref ref="RequestLogFile" />
        </logger>
        <logger name="access" additivity="false">
            <level value="INFO" />
            <appender-ref ref="AccessLogFile" />
        </logger>
    </log4net>
</configuration>
