<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="MetaTweetServer.log" />
            <appendToFile value="true" />
            <maxSizeRollBackups value="14" />
            <rollingStyle value="Date" />
            <datePattern value=".yyyyMMdd-HHmmss" />
            <layout type="log4net.Layout.PatternLayout">
                <header value="*** MetaTweet Log Service started.&#13;&#10;" />
                <footer value="*** MetaTweet Log Service ended.&#13;&#10;" />
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingLogFileAppender" />
        </root>
    </log4net>
</configuration>
