<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="MetaTweetServer.log" />
            <appendToFile value="true" />
            <maxSizeRollBackups value="14" />
            <staticLogFileName value="true" />
            <countDirection value="-1" />
            <maximumFileSize value="20MB" />
            <rollingStyle value="Composite" />
            <datePattern value=".yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <header value="======== MetaTweet Logging System started.&#13;&#10;" />
                <footer value="======== MetaTweet Logging System stopped cleanly.&#13;&#10;" />
                <conversionPattern value=" * %-5level %date (%thread) %type [%mdc]%newline%message%newline%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingLogFileAppender" />
        </root>
    </log4net>
</configuration>
