@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#header {
    height: 75px;
    background-color: black;
}

#header .shadow {
    margin-top: -3px;
    height: 10px;
    width: 100%;
    background-image: url("../images/header-shadow.png");
    background-repeat: repeat-x;
}

#sideMenu {
    position: absolute;
    top: 75px;
    width: 240px;
    padding: 16px 0 16px 16px;
    background-color: #d0d0d0;
    background-image: url("../images/header-shadow.png");
    background-repeat: repeat-x;
}

#sideMenu h1 {
    background-color: #aaaaaa;
    margin: 4px 0 4px -16px;
    padding: 4px;
    font-size: 140%;
}

#sideMenu h2 {
    background-color: #aaaaaa;
    margin: 4px 0 4px -16px;
    padding: 4px;
    font-size: 120%;
}

#sideMenu h3 {
    background-color: #aaaaaa;
    margin: 4px 0 4px -16px;
    padding: 4px;
    font-size: 110%;
}

#sideMenu h4 {
    background-color: #aaaaaa;
    margin: 4px 0 4px -16px;
    padding: 4px;
    font-size: 100%;
}

#content {
    margin: 16px 16px 16px 266px;
}

#content h1 {
    background-color: #f0f0f0;
    border-top: 4px solid #2090ee;
    border-left: 16px solid #2090ee;
    border-bottom: 4px solid #cccccc;
    line-height: 120%;
    margin: 16px 0;
    padding: 5px 0 5px 10px;
    font-size: 140%;
}

#content h2 {
    background-color: #f0f0f0;
    border-top: 4px solid #2090ee;
    border-left: 12px solid #2090ee;
    border-bottom: 4px solid #cccccc;
    line-height: 120%;
    margin: 14px 0;
    padding: 5px 0 5px 10px;
    font-size: 120%;
}

#content h3 {
    background-color: #f0f0f0;
    border-top: 3px solid #2090ee;
    border-left: 8px solid #2090ee;
    border-bottom: 3px solid #cccccc;
    line-height: 100%;
    margin: 12px 0;
    padding: 5px 0 5px 10px;
    font-size: 110%;
}

#content h4 {
    background-color: #f0f0f0;
    border-top: 2px solid #2090ee;
    border-left: 4px solid #2090ee;
    border-bottom: 2px solid #cccccc;
    line-height: 100%;
    margin: 10px 0;
    padding: 5px 0 5px 10px;
    font-size: 100%;
}

#footer {
    background-color: #d0d0d0;
    margin-top: 16px;
    padding: 8px 16px;
    text-align: right;
    font-family: "DejaVu Sans Mono", "Consolas", "Lucida Sans Typewriter", "Courier New", monospace;
    font-size: 95%;
}

table {
    width: 100%;
    border: solid 1px white;
}

table caption {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

thead {
    font-weight: bold;
    text-align: center;
    background-color: #80d0d0;
}

tbody tr.even {
    background-color: #f0f0f0;
}

tbody tr.odd {
    background-color: #d0d0d0;
}

tbody tr:hover {
    background-color: #f0f080;
}

td {
    font-size: 85%;
    padding: 2px 4px;
}

#tabs li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}

#tabs {
    margin-top: 1em;
}

#dialog label, #dialog input {
    display:block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input, #dialog textarea {
    width: 95%;
}
