@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0; padding: 0;
}

h1 {
    background-color: #f0f0f0;
    border-top: 4px solid #2090ee;
    border-left: 16px solid #2090ee;
    border-bottom: 4px solid #cccccc;
    line-height: 120%;
    margin: 16px 0;
    padding: 5px 0 5px 10px;
    font-size: 140%;
}

h2 {
    background-color: #f0f0f0;
    border-top: 4px solid #2090ee;
    border-left: 12px solid #2090ee;
    border-bottom: 4px solid #cccccc;
    line-height: 120%;
    margin: 14px 0;
    padding: 5px 0 5px 10px;
    font-size: 120%;
}

h3 {
    background-color: #f0f0f0;
    border-top: 3px solid #2090ee;
    border-left: 8px solid #2090ee;
    border-bottom: 3px solid #cccccc;
    line-height: 100%;
    margin: 12px 0;
    padding: 5px 0 5px 10px;
    font-size: 110%;
}

h4 {
    background-color: #f0f0f0;
    border-top: 2px solid #2090ee;
    border-left: 4px solid #2090ee;
    border-bottom: 2px solid #cccccc;
    line-height: 100%;
    margin: 10px 0;
    padding: 5px 0 5px 10px;
    font-size: 100%;
}

div#header {
    height: 75px;
    background-color: black;
}

div#header div.shadow {
    margin-top: -3px;
    height: 10px;
    width: 100%;
    background-image: url("../images/header-shadow.png");
    background-repeat: repeat-x;
}

div#navi {
    float: left;
    width: 240px;
    padding: 16px 0 16px 10px;
    background-color: #9c9c9c;
    background-image: url("../images/header-shadow.png");
    background-repeat: repeat-x;
}

div#content {
    margin: 0 16px 0 266px;
}

div#footer {
    background-color: #d0d0d0;
    margin-top: 16px;
    padding: 8px 16px;
    text-align: right;
    font-family: "DejaVu Sans Mono", "Consolas", "Lucida Sans Typewriter", "Courier New", monospace;
    font-size: 90%;
}

table {
    width: 100%;
    border: solid 1px white;
}

thead 
{
    font-weight: bold;
    text-align: center;
    background-color: #80d0d0;
}

tbody tr.even {
    background-color: #f0f0f0;
}

tbody tr.odd {
    background-color: #d0d0d0;
}

tbody tr:hover {
    background-color: #f0f080;
}

td {
    font-size: 85%;
    padding: 2px 4px;
}

div#content form input#requestString {
    width: 80%;
    padding: 4px;
    font-family: sans-serif;
    font-size: 120%;
}

div#content form input#requestButton {
    padding: 5px 12px;
    font-family: sans-serif;
    font-weight: bold;
    vertical-align: bottom;
}
